@tailwind base;

@tailwind components;
@variants hover {
  .bg-gradient {
    background: linear-gradient(to top right,#af35f1, #fa9a5e);
  }

  .text-gradient {
    @apply bg-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@tailwind utilities;